<% layout('../layouts/master.ejs') %>

<div class="col-11">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <!--アニメ-->
            <div class="card" style="width: 100%;">
                <p class="sr-only" id="group-id"><%= group_id %></p>
                <div class="card-body">
                    <p class="card-text"><%= nameGroup %></p> 
                </div>
                <ul class="list-group list-group-flush" id="load-group">
                    <% clubs.forEach(function (club) { %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                    <a href="/users/<%= club.id_user %>"><img src="<%= club.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(club.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px"></a>
                                </div>
                                <div class="col-10" style="padding: 0px;">
                                    <% if (club.required_approve == 1) { %>
                                    <a href="/club/<%= club.id %>">
                                        <% } else {%>
                                        <a href="/private">
                                            <% } %>
                                        <h6><%= club.title %></h6>
                                        <time class="status-time-infor"><%= club.created_at %></time>
                                        <p class="par"><%= club.body %></p>
                                        <p>
                                            <span class="name-group"><i class="fa fa-circle"></i><%= club.name %></span>
                                            <span class="status-infor"><i class="fa fa-circle"></i> <%= club.total_comments %>件</span>
                                            <span class="status-infor"><i class="fa fa-user"></i> <%= club.total_members %>人</span>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <% if(clubs.length >= 10) { %>
                    <div class="text-center area-load-more" id="area-load-group" style="display:none;">
                        <div id="wait-group">
                            <img src='/assets/image/iconLoading.gif' width="64" height="64" />
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="clear-fix"></div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card" style="width:100%;">
            <div class="card-body">
                <p class="card-text">サークルカテゴリーリスト</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <% groups.forEach(function(group){ %>
                        <a href="/groups/<%= group.id %>" class="list-group-chat-item "><span style="background-color: <%= group.color %>" class="item-dot "></span><span><%= group.name %></span></a>
                    <% }); %>
                </li>
            </ul>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>

<% block('scripts', '<script src="/assets/js/loadmore-group-scroll.js"></script>') -%>