<% layout('../layouts/master.ejs') -%>

<div class="col-11">
    <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <!--【腐向け】腐った学生集合！-->
        <div class="card" style="width: 100%;">
        <div class="card-body">
            <p class="card-text"><%= title_post %></p>
        </div>
        <ul class="list-group list-group-flush">
            <% comments.forEach(function (comment) { %>
            <% if (comment.parent_id != null) { %>
                <li class="list-group-item">
                    <a href="reply.html">
                        <div class="row">
                            <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                <img src="<%= comment.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(comment.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px">
                            </div>
                            <div class="col-10" style="padding: 0px;">
                                <h6><%= comment.username %></h6>
                                <div class="user-address">高校2年生</div>
                                <span class="talk-to" title="">to: なぁ❄</span>
                                <span class="sr-only tooltip-content">
                                    <img src='' alt='...' class='rounded-circle tooltip-img'>
                                    <div class='tooltip-user-infor'>
                                        <h6>なぁ❄</h6>
                                        <div class='tooltip-user-address'>高校2年生</div>
                                    </div>
                                    <time class='tooltip-status-time-infor'>2 か月前</time>
                                    <p class='tooltip-comment'>ひま部に入部しました。よろしくお願いします！ #初めての投稿</p>
                                </span>
                                <time class="status-time-infor"><%= comment.created_at %></time>
                                <p class="par"><%= comment.body %></p>
                                <div class="status-talk">会話を見る</div>
                            </div>
                        </div>
                    </a>
                </li>
            <% } else { %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                            <img src="<%= comment.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(comment.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px">
                        </div>
                        <div class="col-10" style="padding: 0px;">
                            <a>
                                <h6>りおる</h6>
                                <div class="user-address">高校2年生</div>
                                <time class="status-time-infor">2 か月前</time>
                                <p>ひま部に入部しました。よろしくお願いします！ #初めての投稿</p>
                            </a>
                        </div>
                    </div>
                </li>
            <%}%>
            <% }) %>
        </ul>
        <div class="text-center area-load-more">
            <a href="#" class="card-load">もっと見る</a>
        </div>
        </div>

        <div class="clear-fix"></div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card" style="width:100%;">
        <div class="card-body">
            <p class="card-text">サークルカテゴリーリスト</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <% groups.forEach(function(group){ %>
                    <a href="/groups/<%= group.id %>" class="list-group-chat-item "><span class="item-dot "></span><span><%= group.name %></span></a>
                <% }); %>
            </li>
        </ul>
        </div>

        <div class="clear-fix"></div>
    </div>
    </div>
</div>