<% layout('../layouts/master.ejs') -%>

<div class="col-11">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <p class="sr-only" id="user-id"><%- user_id %></p>
            <div class="card" style="width:100%;">
                <img class="card-img-top" src="/assets/image/default-thumbnail.jpg" alt="Card image cap" height="140px">
                <img src="<%- (user.avatar==null) ? '/assets/image/default-user.jpg' : JSON.parse(user.avatar).thumb %>" alt="..." class="rounded-circle img-profile">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center area-profile">
                        <h3><%- user.username %></h3>
                        <div class="address">高校2年生</div>
                        <p>出戻りしましたぁー ！変態、電話、出会い、お断り たまに塩対応する 三代目、EXILE、ハイキュー、ボカロ、V系好き 寂しがりやでかまってちゃん 顔出しNGです！！遊びの恋とかネットの恋はしません！</p>
                    </li>
                </ul>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <!--このユーザーによる投稿-->
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">このユーザーによる投稿 <span>(<%- total_comment.total %>)</span></p>
                </div>
                <ul class="list-group list-group-flush" id="profile-load-comment">
                    <% comments.forEach(function (comment) { %>
                        <% if(comment.parent_id==null) { %>
                        <li class="list-group-item ">
                            <div class="row ">
                                <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                    <img src="<%- (comment.avatar==null) ? '/assets/image/default-user.jpg' : JSON.parse(comment.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px">
                                </div>
                                <div class="col-10" style="padding: 0px;">
                                    <a>
                                        <h6><%- comment.username %></h6>
                                        <div class="user-address">高校2年生</div>
                                        <time class="status-time-infor"><%- comment.created_at %></time>
                                        <p><%- comment.body %></p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <%} else { %>
                        <li class="list-group-item ">
                            <a href="/club/conversation/<%= comment.parent_id %>">
                                <div class="row">
                                    <div class="col-1" style="margin-right: 20px;padding-left: 5px; ">
                                    <img src="<%- (comment.avatar==null) ? '/assets/image/default-user.jpg' : JSON.parse(comment.avatar).thumb %>" alt="... " class="rounded-circle " width="50px " height="50px ">
                                </div>
                                <div class="col-10 " style="padding: 0px; ">
                                    <h6><%= comment.username %></h6>
                                    <div class="user-address ">高校2年生</div>
                                    <span data-parent_id = "<%= comment.parent_id %>" class="talk-to" title=" ">to: ss</span>
                                    <span class="sr-only tooltip-content">
                                        <img src='/assets/image/default-user.jpg' alt='...' class='rounded-circle tooltip-img avatar-<%= comment.parent_id %>'>
                                        <div class='tooltip-user-infor'>
                                            <h6 class="username-<%= comment.parent_id %>">❄なぁ</h6>
                                            <div class='tooltip-user-address'>高校2年生</div>
                                        </div>
                                        <time class='tooltip-status-time-infor from-now-<%= comment.parent_id %>'>2 か月前</time>
                                        <p class='tooltip-comment titles-<%= comment.parent_id %>'>ひま部に入部しました。よろしくお願いします！ #初めての投稿</p>
                                    </span>
                                    <time class="status-time-infor "><%- comment.created_at %></time>
                                    <p><%- comment.body %></p>
                                    <div class="status-talk ">会話を見る</div>
                                </div>
                                </div>
                            </a>
                        </li>
                    <% }}) %>
                </ul>
                <% if(comments.length >= 10) { %>
                    <div class="text-center area-load-more" id="area-load-comment" style="display:none;">
                        <div id="wait-comment">
                            <img src='/assets/image/loader.svg' alt="loader"/>
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="clear-fix "></div>
        </div>
        
    </div>
</div>

<% block('scripts', '<script src="/assets/js/loadmore-profile-comment-scroll.js"></script>') -%>