<% layout('./layouts/master.ejs') %>

<div class="col-11">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <!--おすすめサークル-->
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">おすすめサークル</p>
                </div>

                <ul class="list-group list-group-flush">
                    <% posts.forEach(function (post) { %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                    <a href="profile.html"><img src= "<%= post.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(post.avatar).thumb %>"  alt="..." class="rounded-circle" width="50px" height="50px"></a>
                                </div>
                                <div class="col-10" style="padding: 0px;">
                                    <a href="/club/<%= post.id %>">
                                        <h6><%= post.title %></h6>
                                        <time class="status-time-infor"><%= post.created_at %></time>
                                        <p class="par"><%= post.body %></p>
                                        <p>
                                            <span class="name-group"><i class="fa fa-circle"></i><%= post.name %></span>
                                            <span class="status-infor"><i class="fa fa-circle"></i> <%= post.total_comments %>件</span>
                                            <span class="status-infor"><i class="fa fa-user"></i> <%= post.total_members %>人</span>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>

                <div class="text-center area-load-more">
                    <a href="#" class="card-load">もっと見る</a>
                </div>
            </div>

            <div class="clear-fix"></div>
            <!--人気のサークル-->
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">人気のサークル</p>
                </div>
                <ul class="list-group list-group-flush">
                    <% posts.forEach(function (post) { %>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                <a href="profile.html"><img src="<%= post.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(post.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px"></a>
                            </div>
                            <div class="col-10" style="padding: 0px;">
                                <a href="detail-group.html">
                                    <h6><%= post.title %></h6>
                                    <time class="status-time-infor"><%= post.created_at %></time>
                                    <p class="par"><%= post.body %></p>
                                    <p>
                                        <span class="name-group"><i class="fa fa-circle"></i><%= post.name %></span>
                                        <span class="status-infor"><i class="fa fa-circle"></i> <%= post.total_comments %>件</span>
                                        <span class="status-infor"><i class="fa fa-user"></i> <%= post.total_members %>人</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <div class="text-center area-load-more ">
                    <a href="# " class="card-load ">もっと見る</a>
                </div>
            </div>

            <div class="clear-fix "></div>
            <!--殿堂入り-->
            <div class="card " style="width: 100%; ">
                <div class="card-body ">
                    <p class="card-text ">殿堂入り</p>
                </div>
                <ul class="list-group list-group-flush">
                    <% posts.forEach(function (post) { %>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                <a href="profile.html"><img src="<%= post.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(post.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px"></a>
                            </div>
                            <div class="col-10" style="padding: 0px;">
                                <a href="detail-group.html">
                                    <h6><%= post.title %></h6>
                                    <time class="status-time-infor"><%= post.created_at %></time>
                                    <p class="par"><%= post.body %></p>
                                    <p>
                                        <span class="name-group"><i class="fa fa-circle"></i><%= post.name %></span>
                                        <span class="status-infor"><i class="fa fa-circle"></i> <%= post.total_comments %>件</span>
                                        <span class="status-infor"><i class="fa fa-user"></i> <%= post.total_members %>人</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <div class="text-center area-load-more">
                    <a href="#" class="card-load">もっと見る</a>
                </div>
            </div>

            <div class="clear-fix"></div>
            <!--すべての新着サークル-->
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">すべての新着サークル</p>
                </div>
                <ul class="list-group list-group-flush">
                    <% posts.forEach(function (post) { %>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1" style="margin-right: 20px;padding-left: 5px;">
                                <a href="profile.html"><img src="<%= post.avatar == null ? "/assets/image/default-user.jpg" : JSON.parse(post.avatar).thumb %>" alt="..." class="rounded-circle" width="50px" height="50px"></a>
                            </div>
                            <div class="col-10" style="padding: 0px;">
                                <a href="detail-group.html">
                                    <h6><%= post.title %></h6>
                                    <time class="status-time-infor"><%= post.created_at %></time>
                                    <p class="par"><%= post.body %></p>
                                    <p>
                                        <span class="name-group"><i class="fa fa-circle"></i><%= post.name %></span>
                                        <span class="status-infor"><i class="fa fa-circle"></i> <%= post.total_comments %>件</span>
                                        <span class="status-infor"><i class="fa fa-user"></i> <%= post.total_members %>人</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            <div class="text-center area-load-more ">
                <a href="# " class="card-load ">もっと見る</a>
            </div>
            </div>

            <div class="clear-fix "></div>
        </div>

        <!-- right -->
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="card " style="width:100%; ">
            <div class="card-body ">
                <p class="card-text ">サークルカテゴリーリスト</p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item ">
                    <% groups.forEach(function(group){ %>
                        <a href="/groups/<%= group.id %>" class="list-group-chat-item "><span class="item-dot "></span><span><%= group.name %></span></a>
                    <% }); %>
                </li>
            </ul>
            </div>
            <div class="clear-fix "></div>
        </div>
    </div>
</div>